In [85]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, mean, stddev, ceil, current_date, year, datediff
import pyspark.pandas as pd
from pyspark.sql import functions as F
from pyspark.sql.window import Window
from pyspark.sql.types import FloatType
import pyspark.sql.types as types

In [86]:
spark = SparkSession.builder \
        .appName("Salary vs. Price") \
        .config("spark.jars", "../jdbc/mssql-jdbc-12.6.1.jre8.jar") \
        .getOrCreate()

In [87]:
def convert_to_common_currency(currency, price):
    factors_to_usd = {
        "ARS": 0.00111,
        "USD": 1,
        "UYU": 0.026,
        "PEN": 0.27
    }
    return round(factors_to_usd[currency] * price, 2)
convert_to_common_currency = F.udf(convert_to_common_currency, FloatType())

In [88]:
def spark_read_from_db(table_name):
    server_name = "mssql"
    port = "1433"
    database_name = "Data"
    url = f"jdbc:sqlserver://{server_name}:{port};databaseName={database_name}"
    username = "SA"
    password = "YourStrongPassword123"
    df = spark.read \
        .format("jdbc") \
        .option("url", url) \
        .option("dbtable", table_name) \
        .option("user", username) \
        .option("password", password) \
        .option("encrypt", "false") \
        .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
        .load()
    return df

In [89]:
properties = spark_read_from_db("ARProperties")
clients = spark_read_from_db("ARClients")
properties_clients = spark_read_from_db("PropertiesClients")
join_condition_properties = properties["id"] == properties_clients["id_prop"]
join_condition_clients = clients["id"] == properties_clients["id_client"]

joined_df = properties_clients.join(clients, join_condition_clients) \
    .join(properties, join_condition_properties)
columns_to_drop = ["id"]
joined_df = joined_df.drop(*columns_to_drop)

In [90]:
joined_df.show(10)

+-------+---------+----------------+---------+-------------+--------------------+------------------+------+---------+-----------------+----------+----------+----------+-----------+-----------+---------+--------------------+---------------+---------------+------+-----+--------+---------+-------------+---------------+--------+--------+------------+--------------------+-------------------+--------------+
|id_prop|id_client|      first_name|last_name|date_of_birth|               email|number_of_children|   sex|education|annual_income_usd|start_date|  end_date|created_on|   latitude|  longitude|  country|            province|           city|       district|estate|rooms|bedrooms|bathrooms|surface_total|surface_covered|   price|currency|price_period|               title|      property_type|operation_type|
+-------+---------+----------------+---------+-------------+--------------------+------------------+------+---------+-----------------+----------+----------+----------+-----------+-----------+---------+--------------------+---------------+---------------+------+-----+--------+---------+-------------+---------------+--------+--------+------------+--------------------+-------------------+--------------+
| 829149|   799982|         Lourdes|Rodriguez|   1972-07-26|  jgwm9oy7@gmail.com|                 1|  Male|Secondary|           107000|2020-01-08|2020-02-19|2020-01-08|       NULL|       NULL|Argentina|            Santa Fe|        Rosario|           NULL|  NULL| NULL|    NULL|     NULL|         NULL|           NULL| 19500.0|     USD|        NULL|VENTA DE LOTE EN ...|              Other|          Sale|
| 268479|   799278|         Luciano|    Lopez|   1993-04-13|  xapk61n2@gmail.com|                 1|  Male|  Primary|            49000|2020-03-01|2020-03-02|2020-03-01|       NULL|       NULL|Argentina|Bs.As. G.B.A. Zon...|         Moreno|   Paso del Rey|  NULL| NULL|    NULL|      3.0|         NULL|           NULL|219000.0|     USD|        NULL|Casa en venta en ...|              Other|          Sale|
| 956902|   799882|  Mateo Valentin|  Gimenez|   1969-06-17|  hs6q7wpw@yahoo.com|                 1|  Male|  Primary|            43000|2020-05-06|2020-06-09|2020-05-06|       NULL|       NULL|Argentina|Buenos Aires Cost...|   Mar del Tuyú|           NULL|  NULL|  3.0|     2.0|      1.0|         NULL|           NULL| 65000.0|     USD|        NULL|Departamento en V...|          Apartment|          Sale|
| 223110|   799124|            Emma|    Lopez|   1972-09-17|  l904rrx2@gmail.com|                 3|Female| Tertiary|           168000|2020-07-18|2020-08-15|2020-07-18| -34.538158| -58.488111|Argentina|Bs.As. G.B.A. Zon...|  Vicente López|        Florida|  NULL|  4.0|     3.0|      1.0|        130.0|          104.0|239900.0|     USD|        NULL|VENTA PH 4 AMBIEN...|Horizontal Property|          Sale|
| 911347|   799162|          Amparo|Fernandez|   2000-10-13|paykpprr@hotmail.com|                 0|  Male|Secondary|            80000|2020-12-30|2021-02-27|2020-12-30| -31.641389| -60.709183|Argentina|            Santa Fe|       Santa Fe|           NULL|  NULL|  4.0|     2.0|      2.0|         95.0|           95.0|    NULL|    NULL|     Monthly|Departamento en v...|          Apartment|          Sale|
| 421250|   799360| Thiago Benjamin|    Gomez|   1974-03-12|  qcr1sflf@gmail.com|                 1|  Male| Tertiary|           131000|2020-02-22|2020-02-23|2020-02-22| -38.084614| -57.543318|Argentina|Buenos Aires Cost...|  Mar del Plata|           NULL|  NULL| NULL|    NULL|     NULL|         NULL|           NULL|500000.0|     USD|        NULL|Hotel Punta Mogot...|              Other|          Sale|
| 542717|   799706|       Guadalupe| Ferreyra|   1978-11-29|  66dfa5ls@yahoo.com|                 0|  Male|Secondary|            98000|2020-02-29|2020-04-28|2020-02-29|   -34.5745|    -58.423|Argentina|     Capital Federal|        Palermo|           NULL|  NULL| NULL|    NULL|     NULL|         NULL|           NULL|  4400.0|     ARS|        NULL|Alquilo cochera c...|              Other|          Rent|
| 184127|   799521|        Victoria|  Mendoza|   1973-08-19|  31kqm2gw@gmail.com|                 1|Female|Secondary|           100000|2020-07-14|2020-08-13|2020-07-14| -34.379851|-58.6916545|Argentina|Bs.As. G.B.A. Zon...|          Tigre|           NULL|  NULL| NULL|     2.0|      2.0|         NULL|           86.0|180000.0|     USD|     Monthly|Casa a la venta e...|              House|          Sale|
| 799185|   799208|         Santino| Gonzalez|   1979-09-15|btduowqj@hotmail.com|                 2|  Male|Secondary|            61000|2020-09-23|2021-01-15|2020-09-23|-34.7592689|-58.4102585|Argentina|Bs.As. G.B.A. Zon...|Lomas de Zamora|Lomas de Zamora|  NULL| NULL|    NULL|      2.0|         NULL|           NULL| 18000.0|     ARS|     Monthly|Local - Lomas de ...|Commercial Premises|          Rent|
| 442075|   799125|Lautaro Ezequiel|   Valdez|   1975-02-20|  kk31n2tj@gmail.com|                 1|  Male|Secondary|            81000|2020-05-28|9999-12-31|2020-05-28|-39.0507526|-67.6335045|Argentina|           Río Negro|   General Roca|           NULL|  NULL|  5.0|     4.0|      2.0|        247.0|          233.0|    NULL|    NULL|     Monthly|   Casa - Cipolletti|              House|          Sale|
+-------+---------+----------------+---------+-------------+--------------------+------------------+------+---------+-----------------+----------+----------+----------+-----------+-----------+---------+--------------------+---------------+---------------+------+-----+--------+---------+-------------+---------------+--------+--------+------------+--------------------+-------------------+--------------+
only showing top 10 rows

In [91]:
joined_df = joined_df.filter(col("operation_type").isin("Sale"))
joined_df = joined_df.filter(~col("property_type").isin("Terrain"))

In [92]:
df = joined_df.na.drop(subset=["currency", "price", "property_type"])

In [93]:
df = df.withColumn(
    "age",
    (datediff(current_date(), col("date_of_birth")) / 365.25).cast("int")
)

In [94]:
df = df.withColumn("common_currency_price", convert_to_common_currency(col("currency"), col("price")))
df = df.filter(col("common_currency_price").isNotNull())

In [95]:
df = df.withColumn("months", (col("common_currency_price"))/(col("annual_income_usd")/(12)))

In [96]:
df = df.withColumn("months", ceil(df.months))

In [97]:
df.dtypes

[('id_prop', 'bigint'),
 ('id_client', 'bigint'),
 ('first_name', 'string'),
 ('last_name', 'string'),
 ('date_of_birth', 'string'),
 ('email', 'string'),
 ('number_of_children', 'bigint'),
 ('sex', 'string'),
 ('education', 'string'),
 ('annual_income_usd', 'bigint'),
 ('start_date', 'string'),
 ('end_date', 'string'),
 ('created_on', 'string'),
 ('latitude', 'double'),
 ('longitude', 'double'),
 ('country', 'string'),
 ('province', 'string'),
 ('city', 'string'),
 ('district', 'string'),
 ('estate', 'string'),
 ('rooms', 'double'),
 ('bedrooms', 'double'),
 ('bathrooms', 'double'),
 ('surface_total', 'double'),
 ('surface_covered', 'double'),
 ('price', 'double'),
 ('currency', 'string'),
 ('price_period', 'string'),
 ('title', 'string'),
 ('property_type', 'string'),
 ('operation_type', 'string'),
 ('age', 'int'),
 ('common_currency_price', 'float'),
 ('months', 'bigint')]

In [98]:
df.select("id_client", "city" , "common_currency_price", "annual_income_usd", "months", "education").show(20)

+---------+----------------+---------------------+-----------------+------+---------+
|id_client|            city|common_currency_price|annual_income_usd|months|education|
+---------+----------------+---------------------+-----------------+------+---------+
|   799982|         Rosario|              19500.0|           107000|     3|Secondary|
|   799278|          Moreno|             219000.0|            49000|    54|  Primary|
|   799882|    Mar del Tuyú|              65000.0|            43000|    19|  Primary|
|   799124|   Vicente López|             239900.0|           168000|    18| Tertiary|
|   799360|   Mar del Plata|             500000.0|           131000|    46| Tertiary|
|   799521|           Tigre|             180000.0|           100000|    22|Secondary|
|   799884|    Barrio Norte|             232500.0|            47000|    60|Secondary|
|   799281|         Rosario|              89500.0|            42000|    26|Secondary|
|   799186|        Recoleta|             225000.0|           202000|    14| Tertiary|
|   799939|      La Matanza|             265000.0|            98000|    33|Secondary|
|   799218|   Mar del Plata|             111111.0|            79000|    17| Tertiary|
|   799508|         Córdoba|             210000.0|            80000|    32|Secondary|
|   799514|Villa Pueyrredón|              95000.0|            50000|    23|  Primary|
|   799957|       Monserrat|              70000.0|            58000|    15|Secondary|
|   799402|            NULL|             400000.0|            36000|   134|Secondary|
|   799958|       Ituzaingó|             520000.0|            32000|   195|  Primary|
|   799956|      Tribunales|             170000.0|           172000|    12| Tertiary|
|   799395|         Coghlan|             395000.0|            75000|    64|Secondary|
|   799190|        La Plata|              3689.64|            93000|     1|Secondary|
|   799325|        La Plata|              70000.0|           202000|     5| Tertiary|
+---------+----------------+---------------------+-----------------+------+---------+
only showing top 20 rows

In [99]:
database_name = "Data_Clean"
table_name = "HowManySalaries"
server_name = "mssql"
port = "1433"
username = "SA"
password = "YourStrongPassword123"
url = f"jdbc:sqlserver://{server_name}:{port};databaseName={database_name}"
df.write \
    .format("jdbc") \
    .option("url", url) \
    .option("dbtable", table_name) \
    .option("user", username) \
    .option("password", password) \
    .option("encrypt", "false") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .mode("overwrite") \
    .save()