### Połączenie

In [5]:
from pyspark.sql import SparkSession, Row
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import pyspark.pandas as ps

try:
    # Tworzenie sesji Spark
    spark = SparkSession.builder \
        .appName("PySpark SQL Server Connection") \
        .config("spark.jars", "mssql-jdbc-12.6.1.jre8.jar") \
        .getOrCreate()

    # Parametry połączenia z bazą danych MSSQL
    server_name = "localhost"
    port = "1433"
    database_name = "NowaBazaDanych2"
    url = f"jdbc:sqlserver://{server_name}:{port};databaseName={database_name}"

    table_name = "Pracownicy15"
    username = "sa"
    password = "YourStrongPassword123"

    # Wczytanie danych z bazy danych MSSQL
    df = spark.read \
        .format("jdbc") \
        .option("url", url) \
        .option("dbtable", table_name) \
        .option("user", username) \
        .option("password", password) \
        .option("encrypt", "false") \
        .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
        .load()

    print("Dane zostały pomyślnie wczytane z MSSQL.")
    # Wyświetlenie pierwszych kilku wierszy DataFrame
    df.show()

except Exception as e:
    print("Wystąpił błąd podczas łączenia z bazą danych:", str(e))

Wystąpił błąd podczas łączenia z bazą danych: An error occurred while calling o69.load.
: com.microsoft.sqlserver.jdbc.SQLServerException: The TCP/IP connection to the host localhost, port 1433 has failed. Error: "Connection refused. Verify the connection properties. Make sure that an instance of SQL Server is running on the host and accepting TCP/IP connections at the port. Make sure that TCP connections to the port are not blocked by a firewall.".
	at com.microsoft.sqlserver.jdbc.SQLServerException.makeFromDriverError(SQLServerException.java:233)
	at com.microsoft.sqlserver.jdbc.SQLServerException.convertConnectExceptionToSQLServerException(SQLServerException.java:284)
	at com.microsoft.sqlserver.jdbc.SocketFinder.findSocket(IOBuffer.java:2589)
	at com.microsoft.sqlserver.jdbc.TDSChannel.open(IOBuffer.java:721)
	at com.microsoft.sqlserver.jdbc.SQLServerConnection.connectHelper(SQLServerConnection.java:3763)
	at com.microsoft.sqlserver.jdbc.SQLServerConnection.login(SQLServerConnection.java:3348)
	at com.microsoft.sqlserver.jdbc.SQLServerConnection.connectInternal(SQLServerConnection.java:3179)
	at com.microsoft.sqlserver.jdbc.SQLServerConnection.connect(SQLServerConnection.java:1953)
	at com.microsoft.sqlserver.jdbc.SQLServerDriver.connect(SQLServerDriver.java:1263)
	at org.apache.spark.sql.execution.datasources.jdbc.connection.BasicConnectionProvider.getConnection(BasicConnectionProvider.scala:49)
	at org.apache.spark.sql.execution.datasources.jdbc.connection.ConnectionProviderBase.create(ConnectionProvider.scala:102)
	at org.apache.spark.sql.jdbc.JdbcDialect.$anonfun$createConnectionFactory$1(JdbcDialects.scala:160)
	at org.apache.spark.sql.jdbc.JdbcDialect.$anonfun$createConnectionFactory$1$adapted(JdbcDialects.scala:156)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD$.getQueryOutputSchema(JDBCRDD.scala:63)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD$.resolveTable(JDBCRDD.scala:58)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRelation$.getSchema(JDBCRelation.scala:241)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:37)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:346)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:229)
	at org.apache.spark.sql.DataFrameReader.$anonfun$load$2(DataFrameReader.scala:211)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:211)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:172)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:568)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:833)

### ETL 1 - Przygotowanie dat do późniejszej analizy

In [670]:
df.select('Date Rptd').show(10)

+--------------------+
|           Date Rptd|
+--------------------+
|01/08/2020 12:00:...|
|04/22/2020 12:00:...|
|01/27/2020 12:00:...|
|01/24/2020 12:00:...|
|01/20/2020 12:00:...|
|01/24/2020 12:00:...|
|01/05/2020 12:00:...|
|09/06/2020 12:00:...|
|10/10/2020 12:00:...|
|06/26/2020 12:00:...|
+--------------------+
only showing top 10 rows

In [671]:
from pyspark.sql.functions import split, col

df = df.withColumn("Date Rptd", split(col("Date Rptd"), " ").getItem(0))
df = df.withColumn("DATE OCC", split(col("DATE OCC"), " ").getItem(0))

In [672]:
df.select('Date Rptd').show()

+----------+
| Date Rptd|
+----------+
|01/08/2020|
|04/22/2020|
|01/27/2020|
|01/24/2020|
|01/20/2020|
|01/24/2020|
|01/05/2020|
|09/06/2020|
|10/10/2020|
|06/26/2020|
|11/12/2020|
|09/22/2020|
|01/22/2020|
|03/16/2022|
|03/20/2020|
|06/24/2020|
|09/04/2020|
|02/15/2020|
|01/14/2020|
|02/10/2020|
+----------+
only showing top 20 rows

In [673]:
# Konwersja daty do formatu DateType
df = df.withColumn("data", to_date("Date Rptd", "MM/dd/yyyy"))
df = df.withColumn("data", to_date("DATE OCC", "MM/dd/yyyy"))

# Formatowanie daty na "dzień miesiąc rok" po pauzach
df = df.withColumn("Date Rptd", date_format("data", "dd-MM-yyyy"))
df = df.withColumn("DATE OCC", date_format("data", "dd-MM-yyyy"))

# Wyświetlenie wyniku
df.show(truncate=False)

+---------+----------+----------+--------+----+-----------+-----------+--------+------+-------------------------------------------------------+------------------------+--------+--------+------------+---------+--------------------------------------------------+--------------+----------------------------------------------+------+------------+--------+--------+--------+--------+----------------------------------------+-------------------------------+-------+---------+----------+
|DR_NO    |Date Rptd |DATE OCC  |TIME OCC|AREA|AREA NAME  |Rpt Dist No|Part 1-2|Crm Cd|Crm Cd Desc                                            |Mocodes                 |Vict Age|Vict Sex|Vict Descent|Premis Cd|Premis Desc                                       |Weapon Used Cd|Weapon Desc                                   |Status|Status Desc |Crm Cd 1|Crm Cd 2|Crm Cd 3|Crm Cd 4|LOCATION                                |Cross Street                   |LAT    |LON      |data      |
+---------+----------+----------+--------+----+-----------+-----------+--------+------+-------------------------------------------------------+------------------------+--------+--------+------------+---------+--------------------------------------------------+--------------+----------------------------------------------+------+------------+--------+--------+--------+--------+----------------------------------------+-------------------------------+-------+---------+----------+
|10304468 |08-01-2020|08-01-2020|2230    |3   |Southwest  |377        |2       |624   |BATTERY - SIMPLE ASSAULT                               |0444 0913               |36      |F       |B           |501.0    |SINGLE FAMILY DWELLING                            |400.0         |STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)|AO    |Adult Other |624.0   |NULL    |NULL    |NULL    |1100 W  39TH                         PL |NULL                           |34.0141|-118.2978|2020-01-08|
|201108617|07-04-2020|07-04-2020|1420    |11  |Northeast  |1143       |2       |354   |THEFT OF IDENTITY                                      |0930 1822               |48      |M       |H           |707.0    |GARAGE/CARPORT                                    |NULL          |NULL                                          |IC    |Invest Cont |354.0   |NULL    |NULL    |NULL    |2900    SAINT GEORGE                 ST |NULL                           |34.1097|-118.2739|2020-04-07|
|200205300|27-01-2020|27-01-2020|1650    |2   |Rampart    |202        |2       |762   |LEWD CONDUCT                                           |1259 2004               |16      |F       |H           |101.0    |STREET                                            |NULL          |NULL                                          |IC    |Invest Cont |762.0   |NULL    |NULL    |NULL    |HOOVER                                  |SANTA MONICA                 BL|34.0909|-118.2846|2020-01-27|
|200305349|13-01-2020|13-01-2020|1600    |3   |Southwest  |317        |1       |420   |THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)        |NULL                    |0       |NULL    |NULL        |101.0    |STREET                                            |NULL          |NULL                                          |IC    |Invest Cont |420.0   |NULL    |NULL    |NULL    |1700 W  22ND                         ST |NULL                           |34.0364|-118.2976|2020-01-13|
|200404741|19-01-2020|19-01-2020|1900    |4   |Hollenbeck |468        |1       |330   |BURGLARY FROM VEHICLE                                  |1300 1302 0344          |25      |M       |H           |101.0    |STREET                                            |NULL          |NULL                                          |IC    |Invest Cont |330.0   |NULL    |NULL    |NULL    |CONCORD                                 |GLEASON                        |34.0371|-118.1972|2020-01-19|
|200505247|24-01-2020|24-01-2020|900     |5   |Harbor     |514        |1       |230   |ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT         |0411 0334 2033 1822     |41      |M       |H           |108.0    |PARKING LOT                                       |207.0         |OTHER KNIFE                                   |IC    |Invest Cont |230.0   |NULL    |NULL    |NULL    |1000 W  ANAHEIM                      ST |NULL                           |33.7897|-118.2787|2020-01-24|
|201104160|04-01-2020|04-01-2020|2115    |11  |Northeast  |1101       |1       |330   |BURGLARY FROM VEHICLE                                  |0358 1307 0344 1251     |24      |M       |O           |108.0    |PARKING LOT                                       |500.0         |UNKNOWN WEAPON/OTHER WEAPON                   |IC    |Invest Cont |330.0   |NULL    |NULL    |NULL    |2800 E  OBSERVATORY                  RD |NULL                           |34.1192|-118.3004|2020-01-04|
|201113351|06-09-2020|06-09-2020|1800    |11  |Northeast  |1101       |1       |420   |THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)        |1608 0385               |43      |M       |H           |101.0    |STREET                                            |NULL          |NULL                                          |IC    |Invest Cont |420.0   |NULL    |NULL    |NULL    |4700    CRYSTAL SPRINGS              DR |NULL                           |34.1213|-118.274 |2020-09-06|
|201013917|08-10-2020|08-10-2020|1030    |10  |West Valley|1008       |1       |331   |THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND OVER)    |1606 1822 0344 1300     |53      |M       |H           |108.0    |PARKING LOT                                       |NULL          |NULL                                          |IC    |Invest Cont |331.0   |NULL    |NULL    |NULL    |16800    ROSCOE                       BL|NULL                           |34.2206|-118.4982|2020-10-08|
|200811145|19-06-2020|19-06-2020|2000    |8   |West LA    |803        |1       |331   |THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND OVER)    |0344 0385 1822          |59      |F       |O           |101.0    |STREET                                            |NULL          |NULL                                          |IC    |Invest Cont |331.0   |NULL    |NULL    |NULL    |1600    CAPRI                        DR |NULL                           |34.0603|-118.5028|2020-06-19|
|200414818|06-11-2020|06-11-2020|1700    |4   |Hollenbeck |471        |1       |331   |THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND OVER)    |0344                    |0       |M       |X           |108.0    |PARKING LOT                                       |NULL          |NULL                                          |IC    |Invest Cont |331.0   |NULL    |NULL    |NULL    |2200 E  7TH                          ST |NULL                           |34.0347|-118.2253|2020-11-06|
|200814402|21-09-2020|21-09-2020|2100    |8   |West LA    |832        |2       |740   |VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)|0329 1607               |45      |M       |W           |504.0    |OTHER RESIDENCE                                   |NULL          |NULL                                          |IC    |Invest Cont |740.0   |NULL    |NULL    |NULL    |11800    DOROTHY                      ST|NULL                           |34.0507|-118.4683|2020-09-21|
|201604904|22-01-2020|22-01-2020|1800    |16  |Foothill   |1651       |1       |331   |THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND OVER)    |0344 1300               |36      |F       |H           |104.0    |DRIVEWAY                                          |NULL          |NULL                                          |AA    |Adult Arrest|331.0   |NULL    |NULL    |NULL    |13100    KELOWNA                      ST|NULL                           |34.2512|-118.419 |2020-01-22|
|222007170|15-03-2020|15-03-2020|920     |20  |Olympic    |2054       |2       |740   |VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)|0329 0913 2001          |70      |M       |K           |502.0    |MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)      |NULL          |NULL                                          |IC    |Invest Cont |740.0   |NULL    |NULL    |NULL    |3200    SAN MARINO                   ST |NULL                           |34.0545|-118.2999|2020-03-15|
|200109480|20-03-2020|20-03-2020|1500    |1   |Central    |174        |1       |330   |BURGLARY FROM VEHICLE                                  |1307 0329 1822 1609 0344|30      |M       |O           |108.0    |PARKING LOT                                       |NULL          |NULL                                          |IC    |Invest Cont |330.0   |NULL    |NULL    |NULL    |700 S  SPRING                       ST  |NULL                           |34.0445|-118.2523|2020-03-20|
|200811056|24-06-2020|24-06-2020|730     |8   |West LA    |831        |2       |940   |EXTORTION                                              |1915 1822 1913 1912     |47      |M       |W           |501.0    |SINGLE FAMILY DWELLING                            |NULL          |NULL                                          |IC    |Invest Cont |940.0   |NULL    |NULL    |NULL    |11900    MAYFIELD                     AV|NULL                           |34.0476|-118.4686|2020-06-24|
|200713461|03-09-2020|03-09-2020|2236    |7   |Wilshire   |724        |1       |510   |VEHICLE - STOLEN                                       |NULL                    |0       |NULL    |NULL        |707.0    |GARAGE/CARPORT                                    |NULL          |NULL                                          |IC    |Invest Cont |510.0   |NULL    |NULL    |NULL    |100    THE GROVE                    DR  |NULL                           |34.0747|-118.3563|2020-09-03|
|200107191|14-02-2020|14-02-2020|1030    |1   |Central    |124        |2       |624   |BATTERY - SIMPLE ASSAULT                               |0416 1601               |52      |M       |W           |725.0    |GOVERNMENT FACILITY (FEDERAL,STATE, COUNTY & CITY)|400.0         |STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)|IC    |Invest Cont |624.0   |NULL    |NULL    |NULL    |200 N  MAIN                         ST  |NULL                           |34.0532|-118.2425|2020-02-14|
|200100536|14-01-2020|14-01-2020|1400    |1   |Central    |119        |2       |624   |BATTERY - SIMPLE ASSAULT                               |0447 0910 1822          |0       |M       |H           |834.0    |LA UNION STATION (NOT LINE SPECIFIC)              |400.0         |STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)|AO    |Adult Other |624.0   |NULL    |NULL    |NULL    |800 N  ALAMEDA                      ST  |NULL                           |34.0563|-118.2374|2020-01-14|
|200206020|10-02-2020|10-02-2020|855     |2   |Rampart    |245        |2       |888   |TRESPASSING                                            |NULL                    |61      |M       |A           |502.0    |MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)      |NULL          |NULL                                          |IC    |Invest Cont |888.0   |NULL    |NULL    |NULL    |500 S  PARK VIEW                    ST  |NULL                           |34.0632|-118.2771|2020-02-10|
+---------+----------+----------+--------+----+-----------+-----------+--------+------+-------------------------------------------------------+------------------------+--------+--------+------------+---------+--------------------------------------------------+--------------+----------------------------------------------+------+------------+--------+--------+--------+--------+----------------------------------------+-------------------------------+-------+---------+----------+
only showing top 20 rows

In [674]:
df.show(10)

+---------+----------+----------+--------+----+-----------+-----------+--------+------+--------------------+-------------------+--------+--------+------------+---------+--------------------+--------------+--------------------+------+-----------+--------+--------+--------+--------+--------------------+--------------------+-------+---------+----------+
|    DR_NO| Date Rptd|  DATE OCC|TIME OCC|AREA|  AREA NAME|Rpt Dist No|Part 1-2|Crm Cd|         Crm Cd Desc|            Mocodes|Vict Age|Vict Sex|Vict Descent|Premis Cd|         Premis Desc|Weapon Used Cd|         Weapon Desc|Status|Status Desc|Crm Cd 1|Crm Cd 2|Crm Cd 3|Crm Cd 4|            LOCATION|        Cross Street|    LAT|      LON|      data|
+---------+----------+----------+--------+----+-----------+-----------+--------+------+--------------------+-------------------+--------+--------+------------+---------+--------------------+--------------+--------------------+------+-----------+--------+--------+--------+--------+--------------------+--------------------+-------+---------+----------+
| 10304468|08-01-2020|08-01-2020|    2230|   3|  Southwest|        377|       2|   624|BATTERY - SIMPLE ...|          0444 0913|      36|       F|           B|    501.0|SINGLE FAMILY DWE...|         400.0|STRONG-ARM (HANDS...|    AO|Adult Other|   624.0|    NULL|    NULL|    NULL|1100 W  39TH     ...|                NULL|34.0141|-118.2978|2020-01-08|
|201108617|07-04-2020|07-04-2020|    1420|  11|  Northeast|       1143|       2|   354|   THEFT OF IDENTITY|          0930 1822|      48|       M|           H|    707.0|      GARAGE/CARPORT|          NULL|                NULL|    IC|Invest Cont|   354.0|    NULL|    NULL|    NULL|2900    SAINT GEO...|                NULL|34.1097|-118.2739|2020-04-07|
|200205300|27-01-2020|27-01-2020|    1650|   2|    Rampart|        202|       2|   762|        LEWD CONDUCT|          1259 2004|      16|       F|           H|    101.0|              STREET|          NULL|                NULL|    IC|Invest Cont|   762.0|    NULL|    NULL|    NULL|              HOOVER|SANTA MONICA     ...|34.0909|-118.2846|2020-01-27|
|200305349|13-01-2020|13-01-2020|    1600|   3|  Southwest|        317|       1|   420|THEFT FROM MOTOR ...|               NULL|       0|    NULL|        NULL|    101.0|              STREET|          NULL|                NULL|    IC|Invest Cont|   420.0|    NULL|    NULL|    NULL|1700 W  22ND     ...|                NULL|34.0364|-118.2976|2020-01-13|
|200404741|19-01-2020|19-01-2020|    1900|   4| Hollenbeck|        468|       1|   330|BURGLARY FROM VEH...|     1300 1302 0344|      25|       M|           H|    101.0|              STREET|          NULL|                NULL|    IC|Invest Cont|   330.0|    NULL|    NULL|    NULL|             CONCORD|             GLEASON|34.0371|-118.1972|2020-01-19|
|200505247|24-01-2020|24-01-2020|     900|   5|     Harbor|        514|       1|   230|ASSAULT WITH DEAD...|0411 0334 2033 1822|      41|       M|           H|    108.0|         PARKING LOT|         207.0|         OTHER KNIFE|    IC|Invest Cont|   230.0|    NULL|    NULL|    NULL|1000 W  ANAHEIM  ...|                NULL|33.7897|-118.2787|2020-01-24|
|201104160|04-01-2020|04-01-2020|    2115|  11|  Northeast|       1101|       1|   330|BURGLARY FROM VEH...|0358 1307 0344 1251|      24|       M|           O|    108.0|         PARKING LOT|         500.0|UNKNOWN WEAPON/OT...|    IC|Invest Cont|   330.0|    NULL|    NULL|    NULL|2800 E  OBSERVATO...|                NULL|34.1192|-118.3004|2020-01-04|
|201113351|06-09-2020|06-09-2020|    1800|  11|  Northeast|       1101|       1|   420|THEFT FROM MOTOR ...|          1608 0385|      43|       M|           H|    101.0|              STREET|          NULL|                NULL|    IC|Invest Cont|   420.0|    NULL|    NULL|    NULL|4700    CRYSTAL S...|                NULL|34.1213| -118.274|2020-09-06|
|201013917|08-10-2020|08-10-2020|    1030|  10|West Valley|       1008|       1|   331|THEFT FROM MOTOR ...|1606 1822 0344 1300|      53|       M|           H|    108.0|         PARKING LOT|          NULL|                NULL|    IC|Invest Cont|   331.0|    NULL|    NULL|    NULL|16800    ROSCOE  ...|                NULL|34.2206|-118.4982|2020-10-08|
|200811145|19-06-2020|19-06-2020|    2000|   8|    West LA|        803|       1|   331|THEFT FROM MOTOR ...|     0344 0385 1822|      59|       F|           O|    101.0|              STREET|          NULL|                NULL|    IC|Invest Cont|   331.0|    NULL|    NULL|    NULL|1600    CAPRI    ...|                NULL|34.0603|-118.5028|2020-06-19|
+---------+----------+----------+--------+----+-----------+-----------+--------+------+--------------------+-------------------+--------+--------+------------+---------+--------------------+--------------+--------------------+------+-----------+--------+--------+--------+--------+--------------------+--------------------+-------+---------+----------+
only showing top 10 rows

In [675]:
# Wyświetlenie początkowych danych
print("Przed zastąpieniem:")
df.select('Vict Sex').distinct().show()

Przed zastąpieniem:
+--------+
|Vict Sex|
+--------+
|       F|
|       M|
|       X|
|       H|
|    NULL|
+--------+

In [676]:
count_H = df.filter(df['Vict Sex'].isNotNull()).count()
print(count_H)
count_H = df.filter(df['Vict Sex'] == 'H').count()
print(count_H)

65359
12

In [677]:
outed_data = (df.filter((df['Vict Sex'] == 'H')))
df = df.filter((df['Vict Sex'] != 'H'))

# Aktualizacja wartości w kolumnie 'Vict Sex'
df = df.withColumn("Vict Sex", 
                   when(df["Vict Sex"] == "F", "Female")
                   .when(df["Vict Sex"] == "M", "Male")
                   .when(df["Vict Sex"] == "X", "X-gender")
                   .when(df["Vict Sex"].isNull(), "no data")
                   .otherwise(df["Vict Sex"]))

df.printSchema()

root
 |-- DR_NO: long (nullable = true)
 |-- Date Rptd: string (nullable = true)
 |-- DATE OCC: string (nullable = true)
 |-- TIME OCC: long (nullable = true)
 |-- AREA: long (nullable = true)
 |-- AREA NAME: string (nullable = true)
 |-- Rpt Dist No: long (nullable = true)
 |-- Part 1-2: long (nullable = true)
 |-- Crm Cd: long (nullable = true)
 |-- Crm Cd Desc: string (nullable = true)
 |-- Mocodes: string (nullable = true)
 |-- Vict Age: long (nullable = true)
 |-- Vict Sex: string (nullable = true)
 |-- Vict Descent: string (nullable = true)
 |-- Premis Cd: double (nullable = true)
 |-- Premis Desc: string (nullable = true)
 |-- Weapon Used Cd: double (nullable = true)
 |-- Weapon Desc: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Status Desc: string (nullable = true)
 |-- Crm Cd 1: double (nullable = true)
 |-- Crm Cd 2: double (nullable = true)
 |-- Crm Cd 3: double (nullable = true)
 |-- Crm Cd 4: double (nullable = true)
 |-- LOCATION: string (nullable = true)
 |-- Cross Street: string (nullable = true)
 |-- LAT: double (nullable = true)
 |-- LON: double (nullable = true)
 |-- data: date (nullable = true)

In [678]:
df.select('Vict Age')

DataFrame[Vict Age: bigint]

In [679]:
df.select('Vict Descent').distinct().show()

+------------+
|Vict Descent|
+------------+
|           K|
|           F|
|           B|
|           L|
|           V|
|           U|
|           O|
|           D|
|           C|
|           J|
|           Z|
|           A|
|           X|
|           W|
|           S|
|           G|
|           I|
|           P|
|           H|
|        NULL|
+------------+

In [680]:
counts_df = df.groupBy("Vict Descent").count()
counts_df.show()

+------------+-----+
|Vict Descent|count|
+------------+-----+
|           K|  373|
|           F|  298|
|        NULL|    1|
|           B|10804|
|           L|    2|
|           V|   65|
|           U|    9|
|           O| 5888|
|           D|   10|
|           C|  257|
|           J|  114|
|           Z|   44|
|           A| 1648|
|           X| 7152|
|           W|15423|
|           S|    4|
|           G|    2|
|           I|   69|
|           P|   16|
|           H|23168|
+------------+-----+

In [681]:
df_gb = df.groupBy("Vict Descent").count()

df_gb = df_gb.orderBy('count', ascending=False)

start_row = 6

df_gb = df_gb.withColumn("row_index", monotonically_increasing_id())

# Przypisanie elementów od 6. wiersza
others = df_gb.filter(df_gb["row_index"] >= start_row)

top_five = df_gb.filter(df_gb['row_index'] < start_row)

In [682]:
top_five.show()

+------------+-----+---------+
|Vict Descent|count|row_index|
+------------+-----+---------+
|           H|23168|        0|
|           W|15423|        1|
|           B|10804|        2|
|           X| 7152|        3|
|           O| 5888|        4|
|           A| 1648|        5|
+------------+-----+---------+

In [683]:
suma = others.agg(sum("count")).collect()[0][0]
suma

data = [('Other', suma, 6)]

# Tworzenie ramki danych
df_sum = spark.createDataFrame(data, ["Vict Descent", "count", 'row_index'])

df_sum.show()

+------------+-----+---------+
|Vict Descent|count|row_index|
+------------+-----+---------+
|       Other| 1264|        6|
+------------+-----+---------+

In [684]:
combined_df = df_sum.union(top_five)
combined_df.show()

+------------+-----+---------+
|Vict Descent|count|row_index|
+------------+-----+---------+
|       Other| 1264|        6|
|           H|23168|        0|
|           W|15423|        1|
|           B|10804|        2|
|           X| 7152|        3|
|           O| 5888|        4|
|           A| 1648|        5|
+------------+-----+---------+

In [685]:
top_five = top_five.filter(top_five["Vict Descent"] != 'O')
top_five.show()

+------------+-----+---------+
|Vict Descent|count|row_index|
+------------+-----+---------+
|           H|23168|        0|
|           W|15423|        1|
|           B|10804|        2|
|           X| 7152|        3|
|           A| 1648|        5|
+------------+-----+---------+

In [686]:
tfv = top_five.select('Vict Descent')
tfv.show()

+------------+
|Vict Descent|
+------------+
|           H|
|           W|
|           B|
|           X|
|           A|
+------------+

In [687]:
from pyspark.sql.functions import when

# Utworzenie warunku
top_five_values = top_five.select('Vict Descent').distinct().collect()
top_five_values = [row['Vict Descent'] for row in top_five_values]
condition = ~df['Vict Descent'].isin(top_five_values)

# Tworzenie nowej kolumny na podstawie warunku
df = df.withColumn('Vict Descent', when(condition, 'Other').otherwise(df['Vict Descent']))

print(top_five_values)

['H', 'W', 'B', 'X', 'A']

In [688]:
df = df.withColumn("Vict Descent", 
                   when(df["Vict Descent"] == "H", "Hispanic or Latino")
                   .when(df["Vict Descent"] == "W", "White")
                   .when(df["Vict Descent"] == "B", "Black")
                   .when(df["Vict Descent"] == "X", "X-gender")
                   .when(df["Vict Descent"] == "O", "X-gender")
                   .when(df["Vict Descent"] == "A", "Asian")
                   .otherwise(df["Vict Descent"]))

In [689]:
df.select('Vict Age').distinct().show(200)

+--------+
|Vict Age|
+--------+
|      26|
|      29|
|      65|
|      54|
|      19|
|       0|
|      22|
|       7|
|      77|
|      34|
|      50|
|      94|
|      57|
|      43|
|      32|
|      84|
|      31|
|      39|
|      98|
|      25|
|      95|
|      71|
|      68|
|       6|
|      72|
|      87|
|      58|
|       9|
|      27|
|      63|
|      51|
|      56|
|      52|
|      17|
|      79|
|      41|
|      33|
|      28|
|      88|
|       5|
|      96|
|      -2|
|      10|
|      89|
|      85|
|      48|
|      67|
|      44|
|      61|
|       3|
|      37|
|      83|
|      12|
|      55|
|      74|
|       8|
|      62|
|      49|
|      11|
|      35|
|      80|
|       2|
|      66|
|      76|
|       4|
|      92|
|      13|
|      36|
|      75|
|      78|
|      18|
|      69|
|      14|
|      21|
|      59|
|      15|
|      81|
|      38|
|      82|
|      97|
|      30|
|      42|
|      73|
|      90|
|      23|
|      46|
|      70|
|      20|
|      99|
|      86|
|      60|
|      93|
|      40|
|      16|
|      64|
|      91|
|      -1|
|      53|
|      45|
|      47|
|      24|
+--------+

In [690]:
from pyspark.ml.feature import Bucketizer

df = df.filter(df['Vict Age'] >= 0)
bucketizer = Bucketizer(splits=[0, 18, 35, 60,120, float('Inf') ],inputCol="Vict Age", outputCol="Vict Age bucket")
df = bucketizer.setHandleInvalid("keep").transform(df)

# Aktualizacja wartości w kolumnie 'Vict Age bucket'
df = df.withColumn("Vict Age bucket", 
                   when(df["Vict Age bucket"] == 0.0, "0-18")
                   .when(df["Vict Age bucket"] == 1.0, "18-35")
                   .when(df["Vict Age bucket"] == 2.0, "35-60")
                   .when(df["Vict Age bucket"] == 3.0, "60-120")
                   .otherwise("Unknown"))

df.select('Vict Age bucket').show()

+---------------+
|Vict Age bucket|
+---------------+
|          35-60|
|          35-60|
|           0-18|
|          18-35|
|          35-60|
|          18-35|
|          35-60|
|          35-60|
|          35-60|
|           0-18|
|          35-60|
|          35-60|
|         60-120|
|          18-35|
|          35-60|
|          35-60|
|           0-18|
|         60-120|
|          18-35|
|          35-60|
+---------------+
only showing top 20 rows

In [691]:
server_name = "localhost"
port = "1433"
database_name = "After_ETL"
url = f"jdbc:sqlserver://{server_name}:{port};databaseName={database_name}"

table_name = "Clean_table1"
username = "sa"
password = "YourStrongPassword123"

df.write \
    .format("jdbc") \
    .option("url", url) \
    .option("dbtable", table_name) \
    .option("user", username) \
    .option("password", password) \
    .option("encrypt", "false") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .mode("append") \
    .save()

In [692]:
# Zakończenie sesji Spark
#spark.stop()