In [20]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
import pyspark.pandas as pd
import pyspark

In [21]:
spark = SparkSession.builder \
        .appName("Relational Sample PySpark SQL Server Connection") \
        .config("spark.jars", "../jdbc/mssql-jdbc-12.6.1.jre8.jar") \
        .getOrCreate()

In [22]:
def spark_read_from_db(table_name):
    server_name = "mssql"
    port = "1433"
    database_name = "Data"
    url = f"jdbc:sqlserver://{server_name}:{port};databaseName={database_name}"
    username = "SA"
    password = "YourStrongPassword123"
    df = spark.read \
        .format("jdbc") \
        .option("url", url) \
        .option("dbtable", table_name) \
        .option("user", username) \
        .option("password", password) \
        .option("encrypt", "false") \
        .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
        .load()
    return df

In [16]:
properties = spark_read_from_db("ARProperties")
clients = spark_read_from_db("ARClients")
properties_clients = spark_read_from_db("PropertiesClients")

In [17]:
join_condition_properties = properties["id"] == properties_clients["id_prop"]
join_condition_clients = clients["id"] == properties_clients["id_client"]

joined_df = properties_clients.join(clients, join_condition_clients) \
                              .join(properties, join_condition_properties)
columns_to_drop = ["id"]
joined_df = joined_df.drop(*columns_to_drop)

In [19]:
joined_df.show(10)

+-------+---------+----------------+---------+-------------+--------------------+--------------------+-----------------+--------------------+------------------+------+---------+----------+----------+----------+--------------+--------------+---------+--------------------+--------------------+--------+------+-----+--------+---------+-------------+---------------+--------+--------+------------+--------------------+-------------+--------------+
|id_prop|id_client|      first_name|last_name|date_of_birth|               email|             address|annual_income_usd|                 job|number_of_children|   sex|education|start_date|  end_date|created_on|      latitude|     longitude|  country|            province|                city|district|estate|rooms|bedrooms|bathrooms|surface_total|surface_covered|   price|currency|price_period|               title|property_type|operation_type|
+-------+---------+----------------+---------+-------------+--------------------+--------------------+-----------------+--------------------+------------------+------+---------+----------+----------+----------+--------------+--------------+---------+--------------------+--------------------+--------+------+-----+--------+---------+-------------+---------------+--------+--------+------------+--------------------+-------------+--------------+
|      0|   142960|        Geronimo|   Romero|   1984-03-24|  yizjz38b@gmail.com|Camino San Juan N...|           876000|Physiological sci...|                 2|  Male|Secondary|2020-12-25|9999-12-31|2020-12-25|    -32.716652|    -68.642692|Argentina|             Mendoza|                NULL|    NULL|  NULL| NULL|    NULL|     NULL|        350.0|          350.0|    NULL|    NULL|        NULL|Excelentes Lotes ...|      Terrain|          Sale|
|      7|    10899|         Agustín|  Morales|   1984-03-07|  kfgtpkne@yahoo.com|Av. J.B. Alberdi ...|           539000|   Freight forwarder|                 1|  Male|  Primary|2020-12-25|9999-12-31|2020-12-25|   -34.6013837|   -58.3726112|Argentina|     Capital Federal|         San Nicolás|    NULL|  NULL| NULL|    NULL|      6.0|         NULL|         1980.0|    NULL|    NULL|     Monthly|Oficina - Centro ...|       Office|          Rent|
|     22|   383602|       Juan Cruz| Figueroa|   1969-06-05|  bbczrwi7@gmail.com|Avenida Catamarca...|           704000|Civil engineer, c...|                 2|  Male|Secondary|2020-12-25|2021-01-07|2020-12-25|    -38.012056|    -57.551923|Argentina|Buenos Aires Cost...|       Mar del Plata|    NULL|  NULL|  3.0|     2.0|      1.0|         51.0|           51.0|    NULL|    NULL|     Monthly|Departamento 3 am...|    Apartment|          Sale|
|     26|   272666|           Lucio|    Lopez|   1982-01-21|3dlea23q@hotmail.com|Avenida 4 N° 719 ...|           632000|         Pathologist|                 2|  Male|Secondary|2020-12-25|2021-02-05|2020-12-25|-37.9992792815|-57.5451646423|Argentina|Buenos Aires Cost...|       Mar del Plata|    NULL|  NULL|  4.0|     3.0|      2.0|         90.0|           87.0|    NULL|    NULL|     Monthly|Departamento - Ma...|    Apartment|          Rent|
|     29|   626497|          Julian|   Chavez|   1983-08-14|fbxigfz0@hotmail.com|Diagonal 6 N° 88 ...|           277000|Research officer,...|                 2|  Male|Secondary|2020-12-25|2021-01-02|2020-12-25|    -38.982898|    -68.350754|Argentina|             Neuquén|         Confluencia|    NULL|  NULL| NULL|    NULL|     NULL|        250.0|          250.0|780000.0|     ARS|        NULL|Venta de Lote en ...|      Terrain|          Sale|
|     54|   144129|           Charo|  Ledesma|   1977-09-14|qf01ycwa@hotmail.com|Calle 8 N° 4120 C...|           700000|           Press sub|                 3|  Male|Secondary|2020-12-25|2020-12-26|2020-12-25|    -34.555257|    -58.492172|Argentina|     Capital Federal|            Saavedra|    NULL|  NULL|  3.0|     2.0|      1.0|         NULL|           NULL| 50000.0|     ARS|        NULL|Alquiler Departam...|    Apartment|          Rent|
|     77|     8867|           Abril|   Medina|   1988-08-16|47nap30l@hotmail.com|Diagonal Santa Ro...|           642000|Engineer, broadca...|                 0|  Male|Secondary|2020-12-25|9999-12-31|2020-12-25|    -36.442087|   -56.7124686|Argentina|Buenos Aires Cost...|San Clemente del ...|    NULL|  NULL| NULL|    NULL|     NULL|         NULL|           NULL| 23800.0|     USD|     Monthly|Terreno - San Cle...|      Terrain|          Sale|
|    130|   132792|          Renata|   Medina|   1992-07-01|  rixe9six@gmail.com|Avenida J.M. de R...|           723000|Education officer...|                 1|Female|Secondary|2020-12-25|9999-12-31|2020-12-25|          NULL|          NULL|Argentina|Bs.As. G.B.A. Zon...|            La Plata|    NULL|  NULL|  2.0|     1.0|      1.0|         36.0|           34.0| 48000.0|     USD|        NULL|8 entre 65 y 66 D...|    Apartment|          Sale|
|    167|   653630|          Maximo|   Toledo|   2000-09-15|  am3y1nc6@yahoo.com|Avenida Güemes N°...|           577000|      Energy manager|                 0|  Male|Secondary|2020-12-25|2020-12-29|2020-12-25|    -37.105814|    -56.861265|Argentina|Buenos Aires Cost...|             Pinamar|    NULL|  NULL|  3.0|     2.0|      1.0|         55.0|           55.0| 69000.0|     USD|        NULL|Excelente Depto 3...|    Apartment|          Sale|
|    191|   721422|Santino Benjamin|  Cordoba|   1970-09-01|xv4c64zy@hotmail.com|Calle Mitre N° 28...|           786000|     Event organiser|                 3|  Male|Secondary|2020-12-25|2020-12-29|2020-12-25|    -37.022634|    -56.810088|Argentina|Buenos Aires Cost...|     Costa Esmeralda|    NULL|  NULL|  4.0|     3.0|      3.0|       1000.0|          300.0|  2200.0|     USD|        NULL|Casa Alquiler Ecu...|        House|Temporary Rent|
+-------+---------+----------------+---------+-------------+--------------------+--------------------+-----------------+--------------------+------------------+------+---------+----------+----------+----------+--------------+--------------+---------+--------------------+--------------------+--------+------+-----+--------+---------+-------------+---------------+--------+--------+------------+--------------------+-------------+--------------+